* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
}

html,
body {
  height: 100%;
}

/*
Classes Auxiliares
*/

.center {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 2%;
}

.clear {
  clear: both;
}

/***/

section.main {
  position: relative;
  background-image: url(../image/bg_1.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 15px 0;
  min-height: 800px;
}

.layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

section.main header {
  position: relative;
  z-index: 2;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

.icon-social {
  float: right;
}

.icon-social a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin: 0 15px;
}

.logo {
  margin-top: 30px;
  float: left;
  font-size: 23px;
  font-weight: bold;
  color: white;
}

nav.mobile {
  display: none;
  float: right;
}

nav.mobile > .fa-bars {
  font-size: 25px;
  color: white;
  cursor: pointer;
  position: relative;
  top: 35px;
}

nav.mobile ul {
  display: none;
  position: absolute;
  left: 0;
  top: 105px;
  list-style-type: none;
  background-color: white;
  width: 100%;
}

nav.mobile li {
  text-align: center;
  font-weight: lighter;
  border-bottom: 1px solid #444;
  padding: 8px 0;
}

nav.mobile a {
  text-decoration: none;
  color: #444;
  display: block;
}

nav.desktop {
  margin-top: 30px;
  float: right;
}

nav.desktop ul {
  list-style-type: none;
}

nav.desktop li {
  font-size: 17px;
  font-weight: lighter;
  display: inline-block;
  margin: 0 15px;
}

nav.desktop a {
  color: white;
  text-decoration: none;
}

.conteudo-header {
  position: relative;
  z-index: 2;
  max-width: 700px;
  margin: 110px 0;
}

.conteudo-header h2 {
  color: white;
  font-weight: lighter;
  font-size: 44px;
}

.conteudo-header h2 > span {
  color: #2692ff;
}

.conteudo-header p {
  color: white;
  margin-top: 18px;
  font-size: 16px;
  font-weight: lighter;
}

.conteudo-header a {
  display: block;
  width: 177px;
  height: 44px;
  line-height: 44px;
  color: white;
  background: #2693ff;
  text-align: center;
  text-decoration: none;
  margin-top: 18px;
  border-radius: 20px;
}

.chamada-planos {
  width: 100%;
  text-align: center;
  padding: 27px 2%;
  background: rgb(220, 220, 220);
}

.chamada-planos h2 {
  display: inline-block;
  border-top: 2px solid #2692ff;
  color: #2692ff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: lighter;
}

.box-planos {
  padding: 40px 0;
}

.box-planos > .center {
  display: flex;
  flex-wrap: wrap;
}

.box-planos-single {
  width: 33.3%;
  padding: 0 60px;
}

.box-planos-wraper {
  width: 100%;
  border: 1px solid #ccc;
  min-height: 400px;
  box-shadow: 6px 7px 6px -3px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 6px 7px 6px -3px rgba(0, 0, 0, 1);
  -moz-box-shadow: 6px 7px 6px -3px rgba(0, 0, 0, 1);
}

.box-planos-single h2 {
  background-color: #2692ff;
  color: white;
  text-align: center;
  padding: 3px;
  font-weight: lighter;
  padding: 20px 0;
}

.pontos-planos {
  padding: 20px 0 15px 0;
  line-height: 35px;
}

.preco {
  margin-top: 10px;
  padding: 15px 0;
  text-align: center;
}

.preco h2 {
  font-size: 24px;
  display: inline-block;
  border-top: 1px solid #ccc;
  color: #777777;
  background-color: transparent;
}

.box-planos-single p {
  color: #777777;
  font-size: 17px;
  margin: 8px 0 0 12px;
}

section.parallax {
  width: 100%;
  min-height: 300px;
  padding: 40px 0;
  background-image: url('../image/bg_parallax.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

section.parallax span {
  color: #2692ff;
}

.overlay-parallax {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(20, 20, 20, 0.6);
}

section.parallax > .center {
  position: relative;
  z-index: 2;
  max-width: 960px;
  color: white;
}

section.parallax h2 {
  text-align: center;
}

section.parallax p {
  margin-top: 15px;
}

section.final-section {
  padding: 50px 0;
}

.w50 {
  float: left;
  width: 50%;
  padding: 0 20px;
  margin: 30px 0;
}

section.final-section h2 {
  position: relative;
  font-weight: lighter;
  color: #777777;
  font-size: 24px;
}

section.final-section h2 > .border-efeito {
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #777777;
  transition: 0.4s;
}

section.final-section h2:hover > .border-efeito {
  width: 100px;
}

.contato input:not([type='submit']) {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  padding-left: 8px;
  margin-top: 20px;
  display: block;
}

.contato textarea {
  width: 100%;
  height: 120px;
  border: 1px solid #ccc;
  padding: 8px;
  margin-top: 20px;
  resize: none;
}

.contato input[type='submit'] {
  cursor: pointer;
  background-color: #2692ff;
  color: white;
  border: 0;
  width: 100px;
  height: 33px;
  border-radius: 30px;
  margin-top: 15px;
}

.time > .w50 {
  width: 48%;
  margin: 15px 1%;
}

.equipe-single {
  padding: 10px 8px;
  border: 1px solid #ccc;
  min-height: 350px;
  box-shadow: 6px 7px 6px -3px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 6px 7px 6px -3px rgba(0, 0, 0, 1);
  -moz-box-shadow: 6px 7px 6px -3px rgba(0, 0, 0, 1);
}

.topo-box-usuario {
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.box-avatar {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
  background-color: #ccc;
  vertical-align: middle;
}

.equipe-single .info-usuario {
  margin-top: 8px;
  display: inline-block;
  color: #777777;
  padding-left: 8px;
  vertical-align: middle;
}

.info-usuario > p:nth-of-type(1) {
  font-weight: bold;
}

.info-usuario > p:nth-of-type(2) {
  font-style: italic;
}

.descricao-usuario-box {
  color: #999999;
  font-weight: lighter;
  font-size: 14px;
  margin-top: 30px;
  line-height: 30px;
  padding-left: 18px;
}

footer {
  width: 100%;
  padding: 10px 2%;
  text-align: center;
  color: white;
  background-color: #444;
}

@media screen and (max-width: 890px) {
  .box-planos-single {
    width: 50%;
  }

  .box-planos-single:nth-child(2) {
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .w50 {
    width: 100%;
  }

  .time > .w50 {
    width: 100%;
    margin: 15px 0;
  }

  .box-planos-single {
    width: 100%;
    margin: 10px 0;
  }

  nav.mobile {
    display: block;
  }

  nav.desktop {
    display: none;
  }
}
